.finances-content h2 {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.finances-content h3 {
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.finances-content h4 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.finances-content p {
    font-size: 1rem;
}

.other-cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 1.5rem;
}

.other-cards li {
    font-size: 1rem;
}

.vertical-review {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0rem;
    padding-bottom: 1.5rem;
    height: 450px;
}

.vertical-review img {
    height: 400px;
    grid-column: span 1;
    grid-row: span 3;
}

.vertical-review p{
    grid-column: span 2;
    grid-row: span 1;
}

.horizontal-review {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0rem;
    padding-bottom: 1.5rem;
    height: 350px;
}

.horizontal-review img {
    height: 300px;
    grid-column: span 1;
    grid-row: span 2;
}

.horizontal-review p{
    grid-column: span 2;
    grid-row: span 1;
    padding-left: 2.5rem;
}