.finances-content h2 {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.finances-content h3 {
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.finances-content h4 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.other-cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 1.5rem;
}

.review {
    width: 100%;
    display:inline-table;
    margin-bottom: 1rem;
}

.review p {
    height: 100%;
}

.review img {
    height: 300px;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}



@media screen and (max-width: 740px) {
    
    .review {
        height: 100%;
    }

    .finances-content h2 {
        font-size: 2rem;
    }

    .finances-content h3 {
        font-size: 1.2rem;
    }
    .finances-content h4 {
        font-size: 1rem;
        font-weight: bold;
    }
    .finances-content p {
        font-size: 0.7rem;
    }
}