.gear-content h2 {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.gear-content h3 {
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.gear-content h4 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.gear-content p {
    font-size: 1rem;
}

.other-gear {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.other-gear li {
    font-size: 1rem;
}

@media screen and (max-width: 740px) {
    .gear-content h4 {
        font-size: 1rem;
    }
    .gear-content h3 {
        font-size: 1.5rem;
    }
    .gear-content h2 {
        font-size: 2rem;
    }
    .other-gear li {
        font-size: 0.7rem;
    }
}
